.closet-p2{color:black !important}

@media only screen and (min-width: 1199px)
{
	
	.closet-pregunta h2
	{

		width: 100%;
		padding:10px;
		font-style: italic;
		letter-spacing:0px;
		line-height:30px;
		color: #000;
		font-weight: bold;
		font-family:Didot;
		text-align: center;
		font-size: 20px;
	}
	
	.closet-p1 ul li
	{	
		padding:0px;
	}
	
	.closet-p1 ul{margin-top:0px;line-height: 18px !important;}
	.closet-p1{
		width: 100%;
		padding-left: 50px;
		padding-top: 10px;
		line-height:18px !important;
		letter-spacing: 2px !important; 
	}
	.closet-p2{
		width: 100%;
		padding-left: 50px;
		padding-top: 10px;
		line-height:20px !important;
		letter-spacing: 3px !important; 
		font-size: 16px !important;
	}
	
	#closet-txt
	{
		position:absolute;
		top:88%;
		left:20%;
		z-index:1;
		width: 40%;
	}
	
	.imgCloset{
		margin-top: 150px;
		float: right;
	}
	
	

}

@media only screen and (min-width: 992px) and (max-width: 1199px)
{
	.closet-pregunta
	{
		text-align:center;
		width:100%;
		letter-spacing:2px;
		font-family:noteworthy-light;
		line-height:25px;
		color:black;
	}
	
	.closet-p1 ul li
	{
		
		padding:10px;
	}
	
	.closet-p1 ul{margin-top:50px;}
	.closet-p1{padding-top:50px;}
	.closet-p2{padding-top:50px;}
	
	#closet-txt
	{
		position:absolute;
		top:70%;
		left:10%;
		z-index:1;
	}
}


@media only screen and (min-width: 768px) and (max-width: 992px)
{
	.closet-pregunta
	{
		text-align:center;
		width:100%;
		letter-spacing:2px;
		font-family:noteworthy-light;
		line-height:25px;
		color:black;
	}
	
	.closet-p1 ul li
	{
		
		padding:10px;
	}
	
	.closet-p1 ul{margin-top:50px;}
	.closet-p1{padding-top:50px;}
	.closet-p2{padding-top:50px;color:black}
	
	#closet-txt
	{
		position:absolute;
		top:60%;
		left:10%;
		z-index:1;
	}
	
}


@media only screen and (min-width: 480px) and (max-width: 767px)
{
	.closet-pregunta
	{
		text-align:center;
		width:100%;
		letter-spacing:2px;
		font-family:noteworthy-light;
		line-height:25px;
		color:black;
	}
	
	.closet-p1 ul li
	{
		
		padding:10px;
	}
	
	.closet-p1 ul{margin-top:50px;}
	.closet-p1{padding-top:50px;}
	.closet-p2{padding-top:50px;}
	
	#closet-txt
	{
		position:absolute;
		top:50%;
		left:10%;
		z-index:1;
		width:300px;
		height:130px;
	}
  
}


@media only screen and (max-width: 479px)
{
	.closet-pregunta
	{
		text-align:center;
		width:100%;
		letter-spacing:2px;
		font-family:noteworthy-light;
		line-height:25px;
		color:black;
	}
	
	.closet-p1 ul li
	{
		
		padding:10px;
	}
	
	.closet-p1 ul{margin-top:50px;}
	.closet-p1{padding-top:50px;}
	.closet-p2{padding-top:50px;}
	
	#closet-txt
	{
		position:absolute;
		top:50%;
		left:10%;
		z-index:1;
		width:200px;
		height:80px;
	}
  
}
