section#servicios-empresarial{display:table;background:black;position:relative}


@media only screen and (min-width: 1199px)
{
	#parallax-empresarial
	{
		position:absolute;
		top:0%;
		left: 30%;
	}
	
	.empresarial-top{margin-top:7%;}

	.empresarial-parallax{margin-top:0%;}

	#parallax-empresarial{width: 200px;height:300px;}

	.servicios-empresarial-pregunta
	{
		text-align: center;
		width: 100%;
		padding:10px;
		font-style: italic;
		letter-spacing:2px;
		line-height:20px;
		font-size:14px;
		color: #FFF;
		font-weight: lighter;
		font-family:Didot;
	}

	.servicios-empresarial-respuesta
	{
		width:60%;
		margin-left: 20%;
		padding-left: 10px;
		text-align: left;
		line-height:16px !important;
		font-size: 12px !important;

	}

	.bordeEmpresarial{

		padding-right: 0px;
	}
}

@media only screen and (min-width: 992px) and (max-width: 1199px)
{
	#parallax-empresarial
	{
		position:absolute;
		top:30%;
	}
	
	.empresarial-top{margin-top:0%;}

	.empresarial-parallax{margin-top:0%}

	#parallax-empresarial{width: 160px;height:290px;}

	.servicios-empresarial-pregunta
	{
		font-family:Didot;
		font-style:italic;
		font-size:18px;
		letter-spacing: 2px;
		width:100%;
		text-align: center;
		padding:10px;
	}

	.servicios-empresarial-respuesta
	{
		width:100%;
		padding:10px;
	}
}


@media only screen and (min-width: 768px) and (max-width: 992px)
{
	#parallax-empresarial
	{
		position:absolute;
		top:0%;
		left: calc(50% - 150px);
		
	}
	
	.empresarial-top{margin-top:15%;}

	.empresarial-parallax{height: 400px;}

	#parallax-empresarial{width: 300px;height:400px;}

	.servicios-empresarial-pregunta
	{
		font-family:Didot;
		font-style:italic;
		font-size:18px;
		letter-spacing: 5px;
		width:100%;
		text-align: center;
		padding:10px;
	}

	.servicios-empresarial-respuesta
	{
		width:100%;
		text-align:center;
		padding:10px;
	}
}


@media only screen and (min-width: 480px) and (max-width: 767px)
{
	#parallax-empresarial
	{
		position:absolute;
		top:0%;
		left: calc(50% - 150px);
		
	}
	
	.empresarial-top{margin-top:15%;}

	.empresarial-parallax{height: 400px;}

	#parallax-empresarial{width: 300px;height:400px;}

	.servicios-empresarial-pregunta
	{
		font-family:Didot;
		font-style:italic;
		font-size:18px;
		letter-spacing: 5px;
		width:100%;
		text-align: center;
		padding:10px;
	}

	.servicios-empresarial-respuesta
	{
		width:100%;
		text-align:center;
		padding:10px;
	}
  
}


@media only screen and (max-width: 479px)
{
	#parallax-empresarial
	{
		position:absolute;
		top:0;
		left:calc(50% - 100px);
		
	}
	
	.empresarial-top{margin-top:15%;}

	.empresarial-parallax{height: 300px;}

	#parallax-empresarial{width: 200px;height:300px;}

	.servicios-empresarial-pregunta
	{
		font-family:Didot;
		font-style:italic;
		font-size:18px;
		letter-spacing: 5px;
		width:100%;
		text-align: center;
		padding:10px;
	}

	.servicios-empresarial-respuesta
	{
		width:100%;
		padding:10px;
	}
  
}
