
.servicios-ul li a,
.servicios-ul li a:hover,
.servicios-ul li a:link,
.servicios-ul li a:visited,
.servicios-ul li a:active
{
	text-decoration: none;
	color:#888;
	font-family: noteworthy-regular;
}

.servicios-ul li a:hover
{
	border-bottom: 2px solid black;
}

.servicios-bar-select
{
    font-size: 32px;
    font-family: noteworthy-regular;
    font-weight: bold;
    line-height: 1.1;
}


@media only screen and (min-width: 1199px)
{

	div#servicios-movil-title{display:none}
	
	.servicios-ul
	{
		font-size: 15px;
		position: relative;
	  	top: 95%;
	  	transform: translateY(-100%);
		-ms-transform:translateY(-100%); /* IE 9 */
		-moz-transform:translateY(-100%); /* Firefox */
		-webkit-transform:translateY(-100%);
	  	text-align:right;
	  	padding-right: 20px;
		/*line-height: 22px;*/
		letter-spacing: 1px;
	}

	#parallax-servicios
	{
		position:absolute;
		z-index:1;
		top:11%;
		left:61%;
	}
	
	#parallax-servicios
	{
		width:250px;
		height:380px;
	}

	.servicios-first
	{
		height: auto;
		width: 85% !important;
		padding-top: 50px;
	}
	
	.bottom-serv > * {
    float: none;
    display: inline-block;
	}
	.bottom-serv > *:last-child {
		vertical-align: bottom;
	}
	
	.xtrm1
	{
		width:74.5% !important;
	}

	#servicios{

		padding-top: 80px;
		padding-bottom: 40px;
	}
	

}

@media only screen and (min-width: 992px) and (max-width: 1199px)
{
	
	div#servicios-movil-title{display:none}
	
	.servicios-ul
	{
		font-size: 16px;
		position: relative;
	  	top: 100%;
	  	transform: translateY(-100%);
		transform: translateY(-100%);
		-ms-transform:translateY(-100%); /* IE 9 */
		-moz-transform:translateY(-100%); /* Firefox */
		-webkit-transform:translateY(-100%);
	  	text-align:right;
	  	padding: 0;
		line-height: 24px;
		letter-spacing: 2px;
	}

	#parallax-servicios
	{
		position:absolute;
		z-index:1;
		top:10%;
		left:65%;
	}
	
	#parallax-servicios
	{
		width:200px;
		height:280px;
	}

	.servicios-first
	{
		height: auto;
	}
	
	.xtrm1
	{
		width:74.5% !important;
	}
}

@media only screen and (min-width: 768px) and (max-width: 992px)
{
	div#servicios-movil-title{display:none}

	.servicios-ul
	{
		font-size: 16px;
		position: relative;
		text-align:center;
		padding: 0;
		line-height: 25px;
		letter-spacing: 2px;
	}

	#parallax-servicios
	{
		position:absolute;
		z-index:1;
		top:10%;
		left:65%;
	}
	
	#parallax-servicios
	{
		width:200px;
		height:280px;
	}

	.servicios-first
	{
		height: 500px;
	}

	.servicios-second
	{
		height: 250px;
	}
  
}

@media only screen and (max-width: 768px)
{

	div#servicios-movil-title{display:none}
	
	.servicios-ul
	{
		font-size: 16px;
		position: relative;
		text-align:center;
		padding: 0;
		line-height: 25px;
		letter-spacing: 2px;
	}

	#parallax-servicios
	{
		position:absolute;
		z-index:1;
		top:10%;
		left:10%;
	}
	
	#parallax-servicios
	{
		width:200px;
		height:280px;
	}

	.servicios-first
	{
		height: auto;
	}
	
	.servicios-second
	{
		height: 250px;
	}
}

@media only screen and (min-width: 480px) and (max-width: 767px)
{

	div#servicios-movil-title{display:none}
	
	.servicios-ul
	{
		font-size: 16px;
		position: relative;
		text-align:center;
		padding: 0;
		line-height: 25px;
		letter-spacing: 2px;
	}

	#parallax-servicios
	{
		position:absolute;
		z-index:1;
		top:10%;
		left:1%;
	}
	
	#parallax-servicios
	{
		width:200px;
		height:280px;
	}

	.servicios-first
	{
		height: auto;
	}

	.servicios-second
	{
		height: 250px;
	}
  
}


@media only screen and (max-width: 479px)
{
	div#servicios-movil-title{display:block;width:100%;text-align:center;font-weight:bolder;}
	
	.servicios-ul
	{
		font-size: 16px;
		position: relative;
		text-align:center;
		padding: 0;
		line-height: 20px;
		letter-spacing: 2px;
	}

	#parallax-servicios
	{
		position:absolute;
		z-index:1;
		top:5%;
		left:30%;
		display:none;
	}
	
	#parallax-servicios
	{
		width:200px;
		height:250px;
	}

	.servicios-first
	{
		height: auto;
	}

	.servicios-second
	{
		height: 300px;
	}
  
}
