@media only screen and (min-width: 1199px)
{
	.viaj{padding:0;padding-left: 80px;}
	.viajes-separator
	{
		height:50px;
	}
	
	.viajes-foto
	{
		margin-top:30%;
		margin-left: 70px;
		width: 90%;
	}
	
	#viajes-para
	{
		width: 50%;
		margin-top: 10%;
	}
	
	.viajes-pregunta
	{
    	text-align:center;
		letter-spacing:2px;
		font-weight: bold;
		font-family:Didot;
		font-style:italic;
		font-size:18px;
		line-height:25px;
		color: #000;
		width: 80%;
		margin-left: 60px;
		padding-top: 10px;
	}
	
	.viajes-respuesta
	{
		margin-top:20px;
		line-height: 22px !important;
		text-align: center;
	}
	
	.viajes-bg{
		position:relative;
		background-color: #f8f8f8;
		
	}
	
	#viajes-movil{display:none}

	#styling-viajes{height: 600px;margin-top: 40px;}
	
	
}

@media only screen and (min-width: 992px) and (max-width: 1199px)
{
	.viaj{padding:0}
	.viajes-separator
	{
		height:50px;
	}
	
	.viajes-foto
	{
		margin-top:20%;
	}
	
	#viajes-para
	{
		
	}
	
	.viajes-pregunta
	{
    text-align: center;
    letter-spacing: 2px;
	font-weight:bold;
    font-family:Didot;
	font-style:italic;
	font-size:18px;
    line-height: 25px;
	margin-top:50px;
	}
	
	.viajes-respuesta
	{
		margin-top:50px;
	}
	
	.viajes-bg{
		position:relative;
		
	}
	
	#viajes-movil{display:none}
}


@media only screen and (min-width: 768px) and (max-width: 992px)
{
	.viaj{}
	.viajes-separator
	{
		height:50px;
	}
	
	.viajes-foto
	{
		margin-top:20%;
	}
	
	#viajes-para
	{
		
	}
	
	.viajes-pregunta
	{
    text-align: center;
    letter-spacing: 2px;
	font-weight:bold;
    font-family:Didot;
	font-style:italic;
	font-size:18px;
    line-height: 25px;
	margin-top:50px;
	}
	
	.viajes-respuesta
	{
		margin-top:50px;
	}
	
	.viajes-bg{
		position:relative;
		
	}
	
	#viajes-movil{display:none}
}


@media only screen and (min-width: 480px) and (max-width: 767px)
{
	
	
	
	
  .viajes-separator
	{
		height:50px;
	}
	
	.viajes-foto
	{
		margin-top:20%;
	}
	
	#viajes-para
	{
		
	}
	
	.viajes-pregunta
	{
    text-align: center;
    letter-spacing: 2px;
	font-weight:bold;
    font-family:Didot;
	font-style:italic;
	font-size:18px;
    line-height: 25px;
	margin-top:50px;
	}
	
	.viajes-respuesta
	{
		margin-top:50px;
	}
	
	.viajes-bg{
		position:relative;
		
	}
	
	#viajes-medium{display:none !important}
	#viajes-movil{display:block}
}


@media only screen and (max-width: 479px)
{
	.viajes-separator
	{
		height:50px;
	}
	
	.viajes-foto
	{
		margin-top:20%;
	}
	
	#viajes-para
	{
		
	}
	
	.viajes-pregunta
	{
    text-align: center;
    letter-spacing: 2px;
    font-weight:bold;
	font-family:Didot;
	font-style:italic;
	font-size:18px;
    line-height: 25px;
	margin-top:50px;
	}
	
	.viajes-respuesta
	{
		margin-top:50px;
	}
	
	.viajes-bg{
		position:relative;
		
	}
	
	#viajes-medium{display:none !important}
	#viajes-movil{display:block}
}
